[2019-11-15 10:04] bsurd opened #769 "Wrong UI displayed when no more passes are available"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed and all of your passes used.

#### Steps to reproduce
1. Open the SP doorhanger.
2. Observe the UI.

#### Expected result
- The "Looking for a VPN? Join the waitlist" footer is not displayed.

#### Actual result:
- The "Looking for a VPN? Join the waitl

[2019-11-15 11:16] johngruen opened #770 "Specify user type in feedback and 2 week surveys"
in order to understand the feedback users are giving, we should append a parameter to these surveys specifying the type of experience users are seeing...something like
`type=unlimited` for existing users and `type=pass` for users of the pass model

[2019-11-15 11:24] johngruen commented on #770
actually, i realize this is covered by #761

[2019-11-15 11:41] rockxsj commented on #766
But chrome have another proxy API, maybe can implement the same functionality？

[2019-11-15 12:24] madalincm commented on #651
During the testing for the v16 unsigned version we have observed some other issues that are reproducing because of this issue:
For example after opening the doorhanger in the new tab the on/off button does not seem to have an effect :
![spOnOffNotWorking](https://user-images.githubusercontent.com/15685441/68943315-83343a80-07b3-11ea-9c3f-36c579913d65.gif)

Marking with the QA Major issue label.

[2019-11-15 13:43] bsurd opened #771 "Not all of the elements are visible in SP when an error is displayed"
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04 (64-bit)

#### Affected versions:
- unsigned v16 build

#### Steps to reproduce
1. Disconnect from the internet.
2. Open the SP doorhanger.
3. Try to enable SP.
4. Observe the UI.

#### Expected result
- Everything can be visible in the SP doorhanger.

#### Actual result:
- Some of the elements are hidden and a scrol

[2019-11-15 13:46] madalincm opened #772 "Continue button not correctly aligned in the doorhanger"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed

#### Steps to reproduce
1. Open the SP doorhanger.
2. Observe the UI.

#### Expected result
- The blue Continue button is displayed as in the first screenshot from the mockup pages: https://mozilla.invisionapp.com/share/P5RW39B4YB8#/screens

#### Actua

[2019-11-15 13:53] madalincm opened #773 "The buttons displayed in the doorhanger have rounded corners"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed

#### Steps to reproduce
1. Open the SP doorhanger.
2. Observe the UI.

#### Expected result
- The blue Continue button does not have rounded buttons

#### Actual result:
- The button has rounded corners

#### Notes
- This is also reproducing with the J

[2019-11-15 13:58] bsurd opened #774 "Infinite connecting to secure server loop on Linux machines"
#### Affected Platforms:
- Linux Ubuntu 19.04 (64-bit)

#### Affected versions:
- unsigned v16 build

#### Steps to reproduce
1. Disconnect from the internet.
2. Open the SP doorhanger.
3. Try to enable SP.

#### Expected result
- An error is displayed.

#### Actual result:
- SP remains blocked in an infinite connection loop.

#### Notes:
This issue only seems to be reproducible on Linux machines

[2019-11-15 14:06] madalincm opened #775 "Authentification problem message is not displayed on a red background"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed

#### Steps to reproduce
1. Click the secure proxy icon to open the doorhanger
2. Click the continue blue button
3. After the authentication window is open, close it
4. Open again the secure proxy doorhanger

#### Expected result
- The error message has

[2019-11-15 14:15] bsurd opened #776 "Add notification for scenatio where Auto start is ON"
#### Notes:
With the current implementation, there is a notification where if auto-start is set to OFF the "Pass expired. Firefox Private Network is off" is displayed.
![image](https://user-images.githubusercontent.com/17178945/68949081-f5138080-07c1-11ea-9abf-96aeb4c5fa87.png)

A notification that the next pass has started after the current one has finished is missing.
![missing](https://user-ima

[2019-11-15 14:16] #762 closed

[2019-11-15 14:17] #765 closed

[2019-11-15 14:19] bsurd commented on #764
This issue has been verified with the latest build and is no longer reproducible.

[2019-11-15 14:26] bsurd opened #777 "Disable zooming in SP doorhanger."
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04 (64-bit)

#### Affected versions:
- unsigned v16 build

#### Steps to reproduce
1. Open the SP doorhanger.
2. Hold Ctrl/Cmd and scroll in the doorhanger.

#### Expected result
- Nothing happens.

#### Actual result:
- The UI changes in size.

![image](https://user-images.githubusercontent.com/17178945/68950203-55a3bd

[2019-11-15 14:33] bakulf commented on #768
Good catch!

[2019-11-15 14:33] #768 closed

[2019-11-15 14:33] bakulf commented on #769
Fixed!

[2019-11-15 14:33] #769 closed

[2019-11-15 14:37] bakulf commented on #772
@brassy- can you please check if this is a valid issue? Thanks

[2019-11-15 14:55] #770 closed

[2019-11-15 15:02] brassy- commented on #772
While the implementation shown in the invision would be ideal, I'm ok with the current implementation.

@bakulf Should we mark this issue as something to work on in the future and definitly blocking? Or you prefer to have a different issue open? I consider an issue like this one a visual enhacement.

[2019-11-15 15:11] betsymi commented on #763
Thanks. In this case, I think we'd need a new string that is somewhat of a hybrid between the expected result and actual result. This assuming that at this stage, we still don't know if the user already has an account or not.

Sign in failed. To try again, sign in to your Firefox account or create one.
[ Continue ]

[2019-11-15 15:13] madalincm commented on #775
The issue is also reproducing for the geolocation error message:
![image](https://user-images.githubusercontent.com/15685441/68953645-00b77500-07cb-11ea-831f-19526d34b713.png)

[2019-11-15 15:19] madalincm opened #778 "Incorect string inside the button for the georestriction error view"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP build with georestriction enabled installed

#### Steps to reproduce
1. Log in into the SP
2. Observe the UI for georestriction error view

#### Expected result
- The blue button contains the Continue string

#### Actual result:
- The blue button contains the Try

[2019-11-15 15:25] madalincm opened #779 "The warning sign displayed before the error messages is not correctly aligned"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed

#### Steps to reproduce
1. Click the secure proxy icon to open the doorhanger
2. Click the continue blue button
3. After the authentication window is open, close it
4. Open again the secure proxy doorhanger

#### Expected result
- The warning sign is c

[2019-11-15 15:48] madalincm commented on #778
This issues was logged because we observed a difference between the mockups and the actual results when using the Secure Proxy, however probably the Try Again string makes more sense.
We just wanted to make sure any difference from the mock-ups is mentioned in an issue and you guys can decide what works best.

[2019-11-15 15:56] johngruen opened #780 "Use a different Survey URL for pass-based exit surveys"
Please use this URL for exit surveys for pass-based users: `https://qsurvey.mozilla.com/s3/Firefox-Private-Network-Exit-Survey-Phase-Two-Pass-Based`

[2019-11-15 16:46] arthuredelstein opened #781 "Add information to proxyEnabled and proxyDisabled telemetry events to help us track pass usage"
We would like to have telemetry for passes -- whether a user is in the pass or unlimited cohort, and when they begin use of a pass.

[2019-11-15 17:26] johngruen commented on #781
Adding more detail...

We need a way to track overall usage in both the pass-based and unlimited cohorts...propose we add to `secure.proxy.general.proxyEnabled` and `secure.proxy.general.proxyDisabled` and so that they have an `extra` property of `{pass:${passIndex || -1}` where `passIndex` is the index value (0-11) of the current pass being used and where `-1` is used for users in the unlimited t

[2019-11-15 20:42] bakulf commented on #778
@betsymi do we want to have 'try again' or 'continue' here?

[2019-11-15 20:42] bakulf commented on #763
Fixed.

[2019-11-15 20:42] #763 closed

[2019-11-15 21:01] betsymi commented on #778
Continue, please.

[2019-11-16 06:29] bakulf commented on #778
Fixed

[2019-11-16 06:29] #778 closed

[2019-11-17 13:25] #780 closed

[2019-11-17 13:31] #761 closed

[2019-11-17 13:49] #775 closed

[2019-11-18 10:12] #781 closed

[2019-11-18 10:43] madalincm commented on #763
Verified using the latest sp build in Win10x64 in FF Nightly
The string was updated:
![image](https://user-images.githubusercontent.com/15685441/69046023-b7e90180-0a00-11ea-862a-601c8bdd47d0.png)

[2019-11-18 10:49] bakulf commented on #766
The proxy API in chrome is not enough because it doesn't allow the extension to set the Proxy-Authenticate header, but, in theory, you can add that header to any web-request using "onSendHeaders".
I'm happy to review a PR, if you have time to write it!

[2019-11-18 10:50] madalincm commented on #775
Verified using the latest sp build in Win10x64 in FF Nightly
The red background is displayed for the both error messages:
![image](https://user-images.githubusercontent.com/15685441/69046443-a2280c00-0a01-11ea-8dde-01b8ef925821.png)
![image](https://user-images.githubusercontent.com/15685441/69046513-cab00600-0a01-11ea-9da3-696b426f7a07.png)

[2019-11-18 10:55] madalincm commented on #778
Verified using the latest sp build in Win10x64 in FF Nightly
The button was updated.
![image](https://user-images.githubusercontent.com/15685441/69046852-9d178c80-0a02-11ea-9bf5-b8e20ecdc781.png)

[2019-11-18 10:57] bsurd commented on #768
This has been verified with the latest v16 build. The issue is no longer reproducible.

[2019-11-18 11:05] bsurd commented on #769
The correct UI is now displayed after no passes remail.

[2019-11-18 11:17] bsurd opened #783 "Sync pass time for different installments of SP"
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- unsigned v16 build

#### Steps to reproduce
1. Install SP on any machine and start a pass.
2. Install SP on a secondary machine.
3. Observe the UI.

#### Expected result
- The remaining pass time is shown on the second machine as well after login.

#### Actual result:
- The pass time is not

[2019-11-18 12:25] madalincm opened #784 "The generic error text is not correct and when it is displayed it causes display issues in the doorhanger"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP build installed, the user is logged in

#### Steps to reproduce
1. Disconnect from the internet
2. Open the sp doorhanger
3. Use the button to turn the SP on

#### Expected result
- The generic error text is: "Your connection was doped. Try turning Firefox Privat

[2019-11-18 12:34] #779 closed

[2019-11-18 12:36] bakulf commented on #774
@bsurd Can you provide a secure-proxy log?

[2019-11-18 12:48] madalincm opened #785 "The authentification page is open in a normal window even if the user tried to log in from a private window"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP build installed in a private window

#### Steps to reproduce
1. Click the add-on icon to open the doorhanger
2. Click on the continue button

#### Expected result
- The auth page is open in a private window

#### Actual result:
- The auth page is open in a normal

[2019-11-18 12:50] bsurd opened #786 "No error is displayed for SP if it's turned on but there is no internet connection"
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- unsigned v16 build

#### Steps to reproduce
1. Install SP and turn it on.
2. Disconnect from the internet.

#### Expected result
- An error is displayed informing the user that SP has been stopped or does not have an internet connection.

#### Actual result:
- SP continues running uninterru

[2019-11-18 13:11] bsurd opened #787 "Add a notification when the user signs in but does not have any more passes remaining"
#### Notes:
- When a new user signs in a notification is displayed that he has x new passes remaining. If the user has no more passes when he signs in, a notification could be implemented informing him that he does not have any more passes remaining.

#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- unsigned v16 build

#### Steps to repro

[2019-11-18 13:39] bsurd commented on #774
I was not able to reproduce this issue anymore on any of the Linux machines I have tried. If there is no internet connection an error was displayed each time. Closing this issue for now as I can't reproduce it anymore.

[2019-11-18 13:39] #774 closed

[2019-11-19 10:06] madalincm opened #788 "The warning sign displayed in the doorhanger is red"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP build installed

#### Steps to reproduce
1. Click the secure proxy icon to open the doorhanger
2. Click the continue blue button
3. After the authentication window is open, close it
4. Open again the secure proxy doorhanger

#### Expected result
- The warning sig

[2019-11-19 11:28] bakulf commented on #777
We have decided that this is what we want to keep a good level of accessibility.
At least for v16.

[2019-11-19 11:28] #777 closed

[2019-11-19 11:50] bakulf commented on #784
This text is not valid. @betsymi can you confirm that we only show this message when things go wrong? "Firefox Private Network encountered an unknown issue. Try turning it off, then on again."

[2019-11-19 11:51] #683 closed

[2019-11-19 13:27] #771 closed

[2019-11-19 15:36] #651 closed

[2019-11-19 15:59] betsymi commented on #784
If this is a generic error, the actual result is correct. This is because when something is broken and we don't know what it is, we don't assume anymore that there is a problem with the connection.

However, if we do know the issue is a problem with their internet connection, then the error should reflect that and say `You are offline. Check your network connection and try again.`

[2019-11-19 17:16] bakulf commented on #788
Fixed.

[2019-11-19 17:16] #788 closed

[2019-11-20 07:34] bakulf commented on #784
Better to keep a generic error message.

[2019-11-20 07:34] #784 closed

[2019-11-20 07:39] bakulf commented on #785
This makes sense to me. Secure-proxy works cross private and normal browsing.
@mixedpuppy any opinions here?

[2019-11-20 07:40] bakulf commented on #773
We want the round button :) @brassy- can you update invision?

[2019-11-20 07:40] #773 closed

[2019-11-20 08:46] bsurd commented on #771
Verified as fixed with the latest v16 build, "Join the waitlist" is no longer displayed when an error is encountered and is re-displayed once the error has been resolved and SP can connect.

[2019-11-20 12:11] madalincm commented on #788
Verified as fixed. The warning sign has been updated:
![image](https://user-images.githubusercontent.com/15685441/69238003-96724c00-0b9f-11ea-883c-8ee8010c1c7a.png)

[2019-11-20 12:13] madalincm commented on #784
The problem with the display issue when the warning is displayed has been fixed:
![image](https://user-images.githubusercontent.com/15685441/69238091-cc173500-0b9f-11ea-8c63-3a6a42b70b57.png)

[2019-11-20 12:19] madalincm commented on #779
Verified as fixed. The warning sign was updated:
![image](https://user-images.githubusercontent.com/15685441/69238287-46e05000-0ba0-11ea-9e14-df3cc5175aae.png)
![image](https://user-images.githubusercontent.com/15685441/69238349-6e371d00-0ba0-11ea-8b0a-1c8f817c3d0f.png)
![image](https://user-images.githubusercontent.com/15685441/69238460-be15e400-0ba0-11ea-893e-75a43d3e7a8c.png)

[2019-11-20 14:07] madalincm opened #793 "Auto-Start Passes and 5 minutes reminder settings are now displayed as checkboxes"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP installed, user logged in

#### Steps to reproduce
1. Click the secure proxy icon to open the doorhanger
2. Click the gear icon to open the settings

#### Expected result
The Auto-Start Passes and 5 minutes reminder settings have toggle buttons

#### Actual resul

[2019-11-20 15:28] #793 closed

[2019-11-21 01:29] pdehaan opened #795 "fenix manifest has links to old server"
Not sure if this file is still in use or if this matters, but I think is the only remaining instances of "private-network" in the repo (according to the rarely reliable GitHub search, so I should really re-pull and do a git-grep):

https://github.com/mozilla/secure-proxy/blob/f4fdcc63eddef5352e246add8d4c14716ea02011/src/manifest_fenix.json#L11

https://github.com/mozilla/secure-proxy/blob/f4fdcc63

[2019-11-21 01:31] pdehaan commented on #795
I did a <kbd>git grep</kbd> and there were lots of references to "private-network", but mostly just URL slugs, which aren't very interesting.

In fact, here's a list of all "private-network" references that didn't include "mozilla.org" or "mozilla.com" in the same line:

[code]

[2019-11-21 09:07] SoftVision-LorandJanos commented on #651
This issue is no longer reproducible on the latest version (v16) of the Secure Proxy add-on, using the latest Firefox Nightly (72.0a1). Verified on Windows 10 x64.

[2019-11-21 19:09] betsymi opened #797 "/welcome copy & images need to be updated for V16"
## Welcome to Firefox Private Network
You can use this lightweight browser extension to enhance your privacy and security on Firefox for Desktop. Use it to:

1. Increase your privacy on public Wi-Fi
2. Mask your browsing history from your internet service provider
3. Hide your location to reduce online tracking and data collection

### Your privacy
Firefox is committed to your protecting your priv

[2019-11-21 22:27] tcinotto opened #799 "DUO"
DUO 2 step verification warning shown when using proxy.

<img width="1609" alt="Screen Shot 2019-11-21 at 2 24 16 PM" src="https://user-images.githubusercontent.com/42650399/69382021-fc77d580-0c6a-11ea-835d-c101ab501cc1.png">

[2019-11-22 09:47] madalincm opened #800 "[intermitent]Secure proxy is randomly disconnecting while browsing on Netflix"
#### Affected Platforms:
-  Windows 10 (64-bit)
-  Mac 10.14.2

#### Affected versions:
- unsigned v16 build

#### Precondition:
Have SP build installed

#### Steps to reproduce
1. Turn on Secure Proxy
2. Open Netflix and perform any normal action (open a video, watch a video etc)

#### Expected result
- The secure proxy remains on

#### Actual result:
- Secure proxy is disconnected the generic er

[2019-11-22 09:59] bakulf commented on #797
"Because this is a beta test, Private Network will occasionally open a tab in the Firefox browser to give you updates or to ask for your feedback about your experience."

This is the only place where we say "beta". Is it correct?

[2019-11-22 10:31] brassy- commented on #797
![doorhanger-feedback](https://user-images.githubusercontent.com/6309827/69418684-7ff0ff80-0d1b-11ea-8cde-6a9f58a36263.png)
![doorhanger-icon](https://user-images.githubusercontent.com/6309827/69418686-7ff0ff80-0d1b-11ea-9ca3-20f707880755.png)
![doorhanger-off](https://user-images.githubusercontent.com/6309827/69418687-7ff0ff80-0d1b-11ea-95f1-36b2311d73f4.png)
![doorhanger-on](https://user-images.

[2019-11-22 13:26] betsymi commented on #797
@bakulf Good point. Let's simply update the headline to: **Welcome to Firefox Private Network Beta**

[2019-11-22 13:40] bakulf commented on #799
Dup of #800

[2019-11-22 13:40] #799 closed

[2019-11-22 15:11] bakulf commented on #800
When the proxy is on, Cloudflare returns HTTP status code 407 to some of the requests, randomly even if the JWT is valid and correctly included in the Proxy-Authorization header.

We are reasonably convinced that the issue is on the Cloudflare side. Here is why:

1. the same JWT is used for other requests which success results (HTTP status code 200 or similar)
2. the JWT is not expired - expiratio

[2019-11-22 20:31] aplunk commented on #800
The issue has been addressed. @bakulf reassign to me if you see any other issues.

[2019-11-23 07:17] sharmaaditya570191 opened #803 "No "build" script for npm run build in master branch"
![image](https://user-images.githubusercontent.com/42587159/69475124-67eab000-0def-11ea-8c1f-c8b2e5591517.png)

[2019-11-23 07:20] sharmaaditya570191 commented on #803
Hey @bakulf .The package.json does not have a build script in the master branch. I am not able to build SP. Is it necessary to have Firefox Nightly to build it?

[2019-11-23 07:25] #795 closed

[2019-11-23 07:33] bakulf commented on #800
@aplunk great work! thanks!

[2019-11-23 07:33] #800 closed

[2019-11-23 07:35] bakulf commented on #803
Hi @sharmaaditya570191 'npm run build' is not required. Let me update the readme.
'npm install' should be enough to install the dependency.

[2019-11-23 07:35] #803 closed

[2019-11-23 07:52] sharmaaditya570191 commented on #803
Hi @bakulf . Could you please guide me on how to start contributing to this. I am not able to build it. Is `Firefox Nightly` needed to build this?

[2019-11-24 09:14] #797 closed

[2019-11-24 18:46] pdehaan commented on #749
@bakulf Was this fixed via https://github.com/mozilla/secure-proxy/pull/802/files?short_path=8d8b3f4#diff-8d8b3f4e46bb68fb6a7f4625bd1ec640?

![New_welcome_page_-_issue__797_by_bakulf_·_Pull_Request__802_·_mozilla_secure-proxy](https://user-images.githubusercontent.com/557895/69499515-afcd0e00-0ea7-11ea-994c-9fcced2f4193.png)

[2019-11-25 04:27] cpeterso commented on #760
I still see this problem nearly every day (on Windows and macOS). It also blocks Firefox checking for Nightly updates, not just web page loading. I'm currently using FPN v15.

[2019-11-25 07:06] sharmaaditya570191 opened #806 ""npm start" giving error"
![image](https://user-images.githubusercontent.com/42587159/69519290-aca55100-0f7f-11ea-898e-14ad57600984.png)
Getting Error: not found: firefox-nightly. I have Firefox Web Browser. I have also installed nightly in my home folder. Please help me to set up the project so that I can start contributing.
**OS:** Ubuntu 18.04

[2019-11-25 13:09] bakulf commented on #806
What I do locally is to set WEB_EXT_FIREFOX. For instance I have this in my .zshrc (you use zsh, right?): `WEB_EXT_FIREFOX=/tmp/firefox/firefox`

Internally `npm start` uses web-ext. To know more about how to configure it, read the official documentation: https://extensionworkshop.com/documentation/develop/getting-started-with-web-ext/#Testing_in_Firefox_for_Android

[2019-11-25 13:09] #806 closed

[2019-11-25 15:27] madalincm commented on #800
I have verified this issue using the the v16 and v17 versions of Secure proxy and I'm not able to reproduce this issue.
Marking bug as verified fixed,

[2019-11-26 08:59] madalincm commented on #793
Verified as fixed in v17 on Win7x64 FF Nightly
![image](https://user-images.githubusercontent.com/15685441/69614370-affe1280-103b-11ea-8b86-744c1b6f7847.png)

[2019-11-26 09:31] bsurd opened #810 "Incorrect welcome page title"
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- unsigned v17 build

#### Steps to reproduce
1. Install SP.
2. Observe the welcome page title.

#### Expected result
- The title should be **Welcome to Firefox Private Network Beta**, as stated by @betsymi in https://github.com/mozilla/secure-proxy/issues/797#issuecomment-557530806

#### Act

[2019-11-26 12:19] SoftVision-LorandJanos commented on #699
This issue is no longer reproducible on the latest Secure Proxy add-on (v17), using the latest Firefox  Nightly (72.0a1). Verified on Windows 10 x64.

[2019-11-26 15:27] johngruen commented on #285
Hey this a copy issue, not a technical issue...let's treat this as a thing to be resolved on SUMO.

[2019-11-26 18:34] Nepaltechguy2 opened #814 "Google Doc needs permissions"
The last bullet under documentation has a link that redirects to a google doc that requires permission to view.

Doc in question: https://docs.google.com/document/d/17_-TR4pD6zTy76jm88B1DFE-RNTWPC56yOB0C75XYqk/edit?ts=5ce6d7ad

Solution: Either open it up or create a md file with the same contents in-repo.

[2019-11-27 13:33] bsurd opened #815 "Add distinct notifications for new versus existing passes"
#### Notes:
- The message could be enhanced in this situation to be less confusing for a user as he already had the said passes and only use the **x new** version for when the passes are reset/he receives new passes each month.

#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- signed v17 build

#### Steps to reproduce
1. Log into SP with

[2019-11-27 13:33] bsurd opened #816 "v15 users do not remain with the unlimited version of SP after updating to v17"
#### Affected Platforms:
- Windows 10 (64-bit)
- Mac 10.14.2
- Linux Ubuntu 19.04

#### Affected versions:
- signed v15 build
- signed v17 build (used for updating)

#### Steps to reproduce
1. Install SP v15 and create an account.
2. Update to SP v17 and restart the browser.
3. Wait for the login token to expire.

#### Expected result
- After the login token expires and a new one is generated the

[2019-11-27 15:07] johngruen commented on #816
@bakulf do you think this is extension related or service related?

[2019-11-27 15:47] bakulf commented on #816
It's not a bug. What is happening here is:

1. SP is configured to use a post-3rd of december backend.
2. the user installs v15 and SP goes in free-tier mode. But v15 doesn't implement the passes UI and the countdown. The first pass is consumed but no countdown is shown.
3. v17 is installed. The passes are shown correctly.

Note that:
a. if the user installs v15 before the 3rd of December, they wi

[2019-11-27 15:47] #816 closed

[2019-11-27 16:00] bakulf commented on #815
@betsymi what do you think about this issue?

[2019-11-27 17:57] pdehaan opened #817 "web-ext lint errors when using import/export"
This is more informational than anything, but I was trying to randomly run a sanity check <kbd>npx web-ext lint -s src --self-hosted --ignore-files="vendor/*"</kbd> on the add-on, but got a few errors.

Filed upstream at https://github.com/mozilla/web-ext/issues/1770

I don't get any real different results when running `web-ext lint` against a signed add-on in the other repo

[code]

Although, I d

[2019-11-28 12:51] #632 closed

[2019-11-28 15:36] bsurd commented on #816
Confirmed with baku and he helped me to test that users pre-3rd remain with the unlimited version. Marking this as invalid.

[2019-11-29 09:28] bsurd commented on #810
Reopening this as when installing v17 the title still reads "Welcome to the Firefox Private Network Beta".

[2019-11-29 12:24] madalincm commented on #758
Based on the above comment I'm marking this issue as invalid.

[2019-11-29 12:50] bsurd commented on #683
Verified in v17, this issue is no longer reproducible. The interface is properly updated avoiding any sort of confusion.

[2019-12-02 09:13] #749 closed

[2019-12-02 14:57] #810 closed

[2019-12-06 19:30] chrismore opened #821 "Add UTM parameters to the FPN VPN links within the v17+ secure proxy"
We need to append UTM parameters to the to the https://fpn.firefox.con/vpn URL for two unique use cases.

1) Secure proxy to vpn link -- passes expire upgrade (shown at the bottom before passes expire)

https://fpn.firefox.com/vpn?utm_medium=secure-proxy&utm_source=firefox-browser&utm_campaign=upgrade&utm_content=passes-expired

2) Secure proxy to vpn link -- looking for vpn (shown after passes ex

[2019-12-06 19:34] chrismore commented on #821
@bakulf @johngruen ^^

[2019-12-11 17:45] betsymi opened #822 "Copy changes on final screen after user has claimed all 12 passes"
Update messaging on the final screen to read:

You'll receive 12 new passes at the beginning of next month. For unlimited protection, join the waitlist to upgrade to the full-device VPN.

Do we have any wordcount restrictions? This copy is adding three additional words.

[2019-12-11 18:42] chrismore commented on #822
r+ we should try to get this change done with issue #821 at the same time.

[2019-12-12 18:00] cpeterso commented on #760
I still see this problem nearly every day on Windows and macOS. I'm now using FPN v17. I assume there must be something unusual about my home LAN setup.

[2019-12-15 21:27] cpeterso opened #823 ""Firefox Private Network needs your attention" after waking sleeping laptop"
When I wake my sleeping MacBook Pro in the morning, FPN's toolbar icon sometimes has a toast warning with a yellow badge and message saying "Firefox Private Network needs your attention". Right now, FPN's toolbar menu has a message saying "Firefox Private Network encountered an unknown issue. Try turning it off, then on again."

My hunch is that my MBP is slow to connect to my home Wi-Fi network a

[2019-12-18 15:55] cpeterso opened #824 ""Free passes left this month: NaN""
FPN reported its usual "Firefox Private Network needs your attention" when I woke my sleeping laptop this morning (issue #823), but then it said I had used up all my free passes. The menu said I had `NaN` free passes left this month:

![Free_passes_left_this_month_NaN](https://user-images.githubusercontent.com/629193/71101397-7bc5cf80-216b-11ea-9589-2a4ea5e5fa8a.png)

I don't know if these next pa

[2019-12-18 16:00] cpeterso commented on #824
Possibly related: I had switched my DoH provider from Cloudflare to NextDNS (`https://trr.dns.nextdns.io/` in Network Settings) the day before. When I woke my sleeping laptop this morning, I was unable to connect to any websites until I reverted back to Cloudflare. That's likely a problem with DoH DNS bootstrap, but perhaps it also confused FPN into thinking I had no more (NaN) passes remaining?

[2019-12-18 16:25] #822 closed

[2019-12-18 16:34] #821 closed

[2019-12-18 16:39] bakulf commented on #719
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:39] #719 closed

[2019-12-18 16:40] bakulf commented on #642
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #642 closed

[2019-12-18 16:40] bakulf commented on #559
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #559 closed

[2019-12-18 16:40] bakulf commented on #527
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #527 closed

[2019-12-18 16:40] bakulf commented on #412
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #412 closed

[2019-12-18 16:40] bakulf commented on #360
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #360 closed

[2019-12-18 16:40] bakulf commented on #358
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:40] #358 closed

[2019-12-18 16:41] bakulf commented on #571
WebRTC blocking has been removed in v18. This bug is now invalid.

[2019-12-18 16:41] #571 closed

[2019-12-18 16:42] bakulf commented on #644
Close this issue for inactivity.

[2019-12-18 16:42] #644 closed

[2019-12-18 16:44] bakulf commented on #587
We now support the proxy passthrough setting. Let's close this bug.

[2019-12-18 16:44] #587 closed

[2019-12-18 16:45] bakulf commented on #488
This has been fixed by Cloudflare recently.

[2019-12-18 16:45] #488 closed

[2019-12-18 16:46] bakulf commented on #469
Fixed in v17.

[2019-12-18 16:46] #469 closed

[2019-12-18 16:46] bakulf commented on #442
Fixed in v17.

[2019-12-18 16:46] #442 closed

[2019-12-18 16:47] bakulf commented on #251
Not needed. The settings page has new margins in v17.

[2019-12-18 16:47] #251 closed

[2019-12-18 16:51] bakulf commented on #510
This should be fixed in v17.

[2019-12-18 16:51] #510 closed

[2019-12-18 16:52] bakulf commented on #273
I guess we are happy with these values.

[2019-12-18 16:52] #273 closed

[2019-12-18 16:52] bakulf commented on #633
This bug should be fixed in v17.

[2019-12-18 16:52] #633 closed

[2019-12-18 16:52] bakulf commented on #633
This bug should be fixed in v17.

[2019-12-18 16:52] bakulf commented on #626
Fixed in b17.

[2019-12-18 16:52] #626 closed

[2019-12-18 16:53] bakulf commented on #624
This should be fixed in v17.

[2019-12-18 16:53] #624 closed

[2019-12-18 16:53] bakulf commented on #612
This should be fixed in the latest versions.

[2019-12-18 16:53] #612 closed

[2019-12-18 16:53] bakulf commented on #598
Fixed.

[2019-12-18 16:53] #598 closed

[2019-12-18 16:53] bakulf commented on #590
Fixed.

[2019-12-18 16:53] #590 closed

[2019-12-18 16:53] bakulf commented on #586
Fixed

[2019-12-18 16:53] #586 closed

[2019-12-18 16:54] bakulf commented on #583
This dialog has been removed.

[2019-12-18 16:54] #583 closed

[2019-12-18 16:54] bakulf commented on #582
This dialog has been removed.

[2019-12-18 16:54] #582 closed

[2019-12-18 16:54] bakulf commented on #545
Fixed.

[2019-12-18 16:54] #545 closed

[2019-12-18 16:54] bakulf commented on #544
Fixed

[2019-12-18 16:54] #544 closed

[2019-12-18 16:54] bakulf commented on #543
Fixed.

[2019-12-18 16:54] #543 closed

[2019-12-18 21:57] cpeterso commented on #824
I reproduced this NaN error again when I was having (different) DoH/DNS problems. Is the UI fetching the number of remaining passes from an account server and then doing math on an undefined result when DoH/DNS problems make the account server unreachable?

[2019-12-19 07:47] #824 closed

[2019-12-19 07:51] #814 closed

[2019-12-19 07:55] bakulf commented on #756
This issue should be fixed in v17.

[2019-12-19 07:55] #756 closed

[2019-12-19 07:56] bakulf commented on #659
Fixed

[2019-12-19 07:56] #659 closed

[2019-12-19 07:57] bakulf commented on #604
Do we still need to do this? @vladikoff

[2019-12-19 07:58] #592 closed

[2019-12-19 07:59] bakulf commented on #508
Fixed

[2019-12-19 07:59] #508 closed

[2019-12-19 07:59] bakulf commented on #486
The webRTC dialog has been removed.

[2019-12-19 07:59] #486 closed

[2019-12-19 08:01] bakulf commented on #443
Dup of #509

[2019-12-19 08:01] #443 closed

[2019-12-19 08:02] bakulf commented on #362
We support proxy passthrough pref. This can be set in about:preferences.

[2019-12-19 08:02] #362 closed

[2019-12-19 08:02] bakulf commented on #397
This is fixed in the latest versions.

[2019-12-19 08:02] #397 closed

[2019-12-19 08:03] bakulf commented on #393
Fixed

[2019-12-19 08:03] #393 closed

[2019-12-19 08:03] bakulf commented on #371
Fixed

[2019-12-19 08:03] #371 closed

[2019-12-19 08:04] bakulf commented on #237
Fixed

[2019-12-19 08:04] #237 closed

[2019-12-19 08:05] bakulf commented on #100
Done.

[2019-12-19 08:05] #100 closed

[2019-12-19 08:07] bakulf commented on #707
See #391

[2019-12-19 08:07] #707 closed

[2019-12-19 08:07] bakulf commented on #356
See #391

[2019-12-19 08:07] #356 closed

[2019-12-20 08:30] SoftVision-LorandJanos commented on #583
As WebRTC blocking has been removed in v18, I'm marking this Wontfix issue.

[2019-12-20 08:30] SoftVision-LorandJanos commented on #582
As WebRTC blocking has been removed in v18, I'm marking this Wontfix issue.

[2019-12-20 08:31] SoftVision-LorandJanos commented on #571
Marking this bug as Wontfix issue.

[2019-12-20 08:32] SoftVision-LorandJanos commented on #642
Based on the comment above, I'm marking this QA Wontfix issue.

[2019-12-20 08:36] SoftVision-LorandJanos commented on #719
Based on the comment above, I'm marking this bug QA Wontfix issue.

[2020-01-11 15:14] chrismore commented on #821
@bakulf to confirm that this issue is resolved and the PR is merged, but no new XPI has been pushed out to, right?

[2020-01-13 12:26] SoftVision-LorandJanos commented on #810
This issue is no longer reproducible using the latest Secure proxy (v18 - unsigned). Verified on the latest Firefox Release (72.0.1), on Windows 10 x64.

[2020-01-13 14:44] johngruen commented on #821
that's correct

[2020-01-14 12:53] madalincm commented on #605
Issue no longer reproducing. Marking as verified fixed

[2020-01-14 13:04] madalincm commented on #681
The issue was logged in [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1587711). marking bug as duplicate.

[2020-01-14 13:05] madalincm commented on #729
@bakulf Should we add the wontifx flag here?

[2020-01-14 13:07] madalincm commented on #707
Marking as duplicate per above comment.

[2020-01-14 16:41] SoftVision-LorandJanos opened #829 "Secure Proxy remains ON after disconnecting from the internet"
#### Affected Platforms:
- Windows 10 x64.
- All Mac.

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
The Secure Proxy is installed and enabled.

#### Steps to reproduce
1. Disconnect from the internet.
2. Observe the Secure proxy doorhanger.

#### Expected result:
- The footer area is no longer displayed.
- The "Firefox Private Network encountered an unknown issue. Try turn

[2020-01-15 13:52] madalincm opened #830 "Doorhanger not dismissed when opening a new tab using keyboard shortcut"
#### Affected Platforms:
- Windows 10 x64.
- All Mac.

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
- The Secure Proxy is installed and enabled.

#### Steps to reproduce
1. Click on Secure Proxy to open the doorhanger.
2. Use the keyboard shortcut to open a new tab.

#### Expected result:
- The doorhanger is dismissed.

#### Actual result:
- The doorhanger is not dismissed

[2020-01-15 14:00] SoftVision-LorandJanos commented on #285
This issue is still reproducing in v18. It doesn't seem like a copy issue to us.

[2020-01-15 15:42] madalincm opened #831 "The survey tab is not focused after the add-on is removed"
#### Affected Platforms:
- Windows 10 x64.
- All Mac.

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
- The Secure Proxy is installed.

#### Steps to reproduce
1. Go to about:addons and remove the Secure Proxy add-on.

#### Expected result:
The survey is opened in a new tab, the tab is focused.

#### Actual result:
The survey is opened in a new tab but that tab is not focuse

[2020-01-16 12:04] madalincm opened #832 "Secure Proxy disconnects while browsing on webex.com"
#### Affected Platforms:
- Windows 10 x64.

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
- The Secure Proxy is installed and enabled

#### Steps to reproduce
1. Go to webex.com and log in
2. Browse on the site (start a meeting, join a meeting from the browser)

#### Expected result:
Secure proxy remains enabled.

#### Actual result:
Secure proxy disconnects
![image](https:

[2020-01-16 12:25] madalincm opened #833 "Secure Proxy disconnects while being in jitsi meeting"
#### Affected Platforms:
- Windows 10 x64.

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
- The Secure Proxy is installed and enabled

#### Steps to reproduce
1. Go to https://jitsi.org/
2. Join a meeting and perform different actions (send a youtube video, go through seetings )

#### Expected result:
Secure proxy remains enabled.

#### Actual result:
Secure proxy disconnec

[2020-01-16 14:56] bsurd commented on #814
Verified with the unsigned v18 version of SP. All links from the current version of the document open without any problems.

[2020-01-16 14:59] bsurd commented on #822
Verified with the v18 unsigned version. The text has been updated accordingly.

[2020-01-16 15:00] bsurd commented on #821
Verified this with the unsigned v18 build of SP. The UTM parameters have been updated with the new ones.

[2020-01-16 15:08] madalincm commented on #824
We were not able to to reproduce this issue while we were testing the v18 version of Secure Proxy. @cpeterso is this still reproducing for you?

[2020-01-16 15:52] madalincm opened #834 "Secure Proxy disconnects while browsing on amazon.com"
#### Affected Platforms:
- Windows 10 x64.
- MacOS

#### Firefox versions:
- Firefox Release 72.0.1.

#### Prerequisites:
- The Secure Proxy is installed and enabled

#### Steps to reproduce
1. Go to amazon.com
2. Browse on the site (add products to cart, go to cart etc)

#### Expected result:
Secure proxy remains enabled.

#### Actual result:
Secure proxy disconnects

[2020-01-16 22:13] bakulf commented on #831
There is nothing we can do here. This is how uninstall URLs are shown in firefox.

[2020-01-17 19:07] cpeterso commented on #824
No, though I had to stop using Secure Proxy due to other bugs.

[2020-01-20 14:32] bakulf commented on #830
This is actually a common behavior in firefox. Any other dialog behaves at the same way.
See the hamburger menu.

[2020-01-23 09:26] #830 closed

[2020-01-23 15:25] bakulf opened #835 "Intermittent 502 errors"
Intermittently secure-proxy receives 502 errors from the proxy server.

[2020-01-23 15:27] bakulf commented on #834
Dup of #835

[2020-01-23 15:27] #834 closed

[2020-01-23 15:27] bakulf commented on #833
Dup of #835

[2020-01-23 15:27] #833 closed

[2020-01-23 15:27] bakulf commented on #832
Dup of #835

[2020-01-23 15:27] #832 closed

[2020-01-23 16:34] johngruen opened #836 "Document the conditions that might cause each of the errors we record"
This could be done in a comment in code or in our docs or wherever, but it would be good to put some documentation explaining why we might see each of the six network errors we handle.

https://github.com/mozilla/secure-proxy/blob/master/src/background/network.js#L481-L499

[2020-01-23 16:47] johngruen opened #837 "Log an explicit telemetry event for 502 errors"
Related to #835, let's go ahead and pull this error out into its own telemetry ping to see how much this is happening in the wild...

something like `category: "networking", event: "502"`

┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-23)
┆Issue Number: FPN-23
┆Priority: Low

[2020-01-24 11:47] johngruen opened #838 "add an event category to log upsell engagments"
User story:

As a PM, so that I can reason about user interest in different upsell CTAs i would like a category of telemetry events that tells me what UIs users are interacting with.

So I think we should have  a new event category for this, maybe `upsellEngagment` or something
where objects are assigned uniquely for each different upsell...in the current version, for example we might have `vpnLin

[2020-01-24 11:50] johngruen opened #839 "add an event category to expiration of free-tier"
I know we kind of get this from the proxyEnabled event, but i would like a specific additional event fired whenever a user uses up the totality of their free proxy time/data/whatever for the month. We could add this as an event in the `state` method, with an object of `complete` and a value that maps to whatever the free type is...something like `passes, time, data` or whatever.

┆Issue is synchro

[2020-01-24 11:52] johngruen opened #840 "Investigate why pass tier users are not growing dispite installs."
We saw 1400 installs last week but only a net growth of 2 DAU for pass based users. Presumably new installs would be pass-based so it would be good to review the code that puts users into the pass vs unlimited cohort in the first place.

See Daily Usage by Client Type Chart [here](https://sql.telemetry.mozilla.org/dashboard/fpn-secure-proxy-tracker-beta-)

┆Issue is synchronized with this [Jira St

[2020-01-24 11:56] johngruen opened #841 "Implement survey of unlimited users to prep for migration"
* URL: https://qsurvey.mozilla.com/s3/fpn-fitness-checkup
* Required parameters: Survey sould pass in params per https://github.com/mozilla/secure-proxy/blob/66e88cf64ddc4092e7a4987815e4c0ae9327ab1b/src/background/survey.js#L160
* How it gets deployed: Coming soon.

┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-24)
┆Issue Number: FPN-24
┆Priority: Low

[2020-01-24 14:53] johngruen opened #842 "Add version to all state events in the extra field"

[2020-01-24 18:14] data-sync-user opened #843 "adding new label"
┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-19)
┆Issue Number: FPN-19
┆Priority: Low

[2020-01-29 17:54] #843 closed

[2020-01-31 08:47] bakulf commented on #841
@johngruen No news for that, right?

[2020-01-31 08:54] bakulf commented on #838
@johngruen  - So far, in secure-proxy there are VPN 2 links: vpnLinkFooter and vpnLinkPassesExpired. Are you OK to add this event in these 2 locations or you have more places to suggest?

[2020-02-02 17:09] MarkIIwain opened #847 "cake bring up ring a bell ?"
well ,here without your proxy ,well so far so good .And not even try to update ,because it is not mean helpful .

I felt sick of rather performance like IT tech .I am really not into this course "poser" as a short name .For something late these day keeping me up with ,it would got me nothing capable .You know just following the line ,I am running on my fashion-out DT ,little disk space ,and trying

[2020-02-03 07:34] bakulf commented on #836
This has been done months ago in the metrics.md: https://github.com/mozilla/secure-proxy/blob/master/docs/metrics.md

[2020-02-03 07:34] #836 closed

[2020-02-03 07:34] #837 closed

[2020-02-05 08:08] #842 closed

[2020-02-05 10:28] bakulf commented on #840
https://sql.telemetry.mozilla.org/dashboard/fpn---secure-proxy---baku-s-dashboard#171964
I'm working on a better dashboard. I'm planning to write an email explaining what I have found, crunching telemetry data.

[2020-02-05 10:28] #840 closed

[2020-02-05 13:13] johngruen commented on #838
These are fine for now, yes. As long as we can filter on the extension version!

[2020-02-05 13:17] johngruen commented on #841
You can use this URL: https://qsurvey.mozilla.com/s3/fpn-fitness-checkup

please note I don't expect to have the actual survey in place until EOW

[2020-02-06 16:04] #838 closed

[2020-02-07 17:50] #835 closed

[2020-02-14 18:15] evelyn-marie opened #850 "when activated, secury-proxy bypasses hosts file"
Submitted on behalf of a SUMO user:

https://support.mozilla.org/en-US/questions/1279630

[2020-02-18 18:08] #841 closed

[2020-02-18 18:09] bakulf commented on #850
this is a platform bug. See https://bugzilla.mozilla.org/show_bug.cgi?id=1616252

[2020-02-18 18:09] #850 closed

[2020-02-25 10:12] SoftVision-LorandJanos commented on #835
This issue is no longer reproducible with the latest Secure Proxy add-on, using the latest Firefox Nightly (75.0a1). Verified on Windows 10 x64 and Mac 10.14.6.

[2020-02-25 13:21] johngruen opened #853 "Send add-on version to proxy service"
In order to better understand which client versions are requesting tokens, we should include the extension version in token requests sent to the proxy service.

[2020-02-25 15:07] johngruen opened #854 "Limit total number of tokens any user can generate per day"
For unlimited users we should implement some kind of daily cap. This should be very high (32/day?) so that the great majority of users never encounter it, but we'll need some UX to display in the proxy when the user does in fact encounter this issue.

[2020-02-25 20:53] johngruen opened #855 "Stop token countdown after proxy fails"
Per this sumo report: https://support.mozilla.org/en-US/questions/1280674

[2020-03-05 08:34] #854 closed

[2020-03-09 09:18] KershawChang opened #856 "Turn off network.trr.fetch_off_main_thread"
See bug 1620824 [1].
TRR is not working properly with FPN extension when network.trr.fetch_off_main_thread is enabled.
We want to turn off network.trr.fetch_off_main_thread by FPN extension.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1620824

[2020-03-09 10:48] bakulf commented on #856
If this is something that happens only in nightly, we can wait until the issue is fixed and uplift it to beta, if needed.

[2020-03-09 11:12] KershawChang commented on #856
It's not easy to fix this in TRRServiceChannel, since the channel runs completely off main thread and doesn't send "http-on-*" notification. FPN extension has no way to add "Proxy-Authorization" header to the channel. In addition, we'd like to ship TRRServiceChannel in 75, so turning off "network.trr.fetch_off_main_thread" might be the best workaround for now.

[2020-03-13 09:29] KershawChang opened #858 "Turn off "network.trr.fetch_off_main_thread" properly"
The previous patch[1] was not enough. We need two more lines to turn off this pref.

[1] https://github.com/mozilla/secure-proxy/pull/857

[2020-03-13 09:48] #858 closed

[2020-03-13 09:48] #856 closed

[2020-03-15 21:40] Mcmeman opened #861 "Unable to sign into Private Network Extension"
Have been unable to sign into the Private Network Extension both on Windows and Mac OS for several days now. Attempts to log in present only the error "sign in failed, to try again sign into your firefox account or create one"

Firefox version 74.0 and Extension version 20

[2020-03-18 13:04] jmanc commented on #861
Exact same problem, FF ver. 74.  I changed my password recently, could this be the issue?  I am able to log into firefox just fine, not the priv network

[2020-03-18 13:42] Mcmeman commented on #861
I don't think so, my PW has not been changed and this seems to be happening to almost everyone.

[2020-03-19 01:26] Fanolian commented on #861
I think it may be an Firefox account issue.
My main Firefox account has unlimited access to FPN and cannot log in to it. I set up a brand new Firefox account just for testing FPN and it works, but it changes to the pass-based system.

[2020-03-19 07:52] bakulf commented on #861
Do you receive authentication failure or you are unable to use the proxy? Can you describe the single steps? I want to reproduce the issue. Thanks.

@Mcmeman @jmanc @Fanolian

[2020-03-19 13:29] Mcmeman commented on #861
The steps are as follows
-Click on extension in the browser toolbar
-Click "continue" to sign in
-This opens a Firefox sign in window with my account already present and a option to "Sign in"
-Select Sign in and the window closes
- The toolbar extension then flashes a yellow error "Firefox Private Network Needs your attention"
-The extension also has a yellow exclamation point on the icon
-Clickin

[2020-03-19 13:57] jmanc commented on #861
I, too, am following the precise steps outlined by @Mcmeman.  I have tried this on 3 different computers, all with FF 74.  

[2020-03-20 15:08] bakulf commented on #861
Thank you all. I would like to know: are you perhaps use the same firefox account on multiple devices? If yes, on how many devices do you have/had secure-proxy active?

@Mcmeman @jmanc @Fanolian

[2020-03-20 15:32] Fanolian commented on #861
I used my Firefox Account for FPN to test [bug 1619822](https://bugzilla.mozilla.org/show_bug.cgi?id=1619822) and [bug 1620824](https://bugzilla.mozilla.org/show_bug.cgi?id=1620824) with Mozregression. That means I had to use my same (testing) Firefox profile and FPN login session(?) repeatedly in different Nightly builds (to find the regression regarding FPN).

When testing bug 1620824, I did ope

[2020-03-20 15:36] Mcmeman commented on #861
Yes I use my FF account on several devices. As for the Desktop Extension I
have it enabled on 1 windows 10 machine and 1 Mac OS machine.

On Fri, Mar 20, 2020 at 10:08 AM Andrea Marchesini <notifications@github.com>
wrote:

[2020-03-20 15:43] jmanc commented on #861
I also use it on 3 different computers, all Linux with FF74.

[2020-03-25 19:00] bakulf commented on #861
The issue is fixed. Try to login again and sorry!

[2020-03-25 19:00] #861 closed

[2020-04-06 11:27] Fanolian opened #863 "Padlock in URL bar is sometimes missing when a FPN session is active"
![FPN padlock missing](https://user-images.githubusercontent.com/771216/78553392-bd25dc00-783b-11ea-84bf-3b67a1862f21.png)

I do not have a precise steps-to-reproduce. The issue randomly appears when I am surfing the net and it can occur to any website.
The padlock comes back if I pause the FPN session and reload the page.

I am using Nightly with FPN v21.

[2020-04-06 11:42] Fanolian commented on #863
According to Mozregression, [Bug 1607257 - Enable SSLTokenCache on nightly](https://bugzilla.mozilla.org/show_bug.cgi?id=1607257) may be the cause of this bug.

[2020-04-06 12:20] Fanolian commented on #863
I have filed a more detailed bug report at [Bug 1627654 - Padlock in URL bar is sometimes missing when a FPN session is active](https://bugzilla.mozilla.org/show_bug.cgi?id=1627654).

[2020-04-07 03:34] Fanolian commented on #863
Not an issue of FPN.

[2020-04-07 03:34] #863 closed

[2020-04-07 13:24] Fanolian opened #864 "Unable to log in due to HTTP 500 Internal Server Error"
When I try to use a pass, _Browser Console_ shows
`XHR  POST  https://fpn.firefox.com/browser/oauth/token
[HTTP/2 500 Internal Server Error 5713ms]`

I think the issue started around 12 hours ago.

[2020-04-07 13:45] Mcmeman commented on #861
This issue appears to have resurfaced after the most recent update to Firefox.

[2020-04-07 14:34] rlr commented on #864
@Fanolian can you confirm that it's fixed now? We just deployed a fix. Please reopen if it still happens. Thanks!

[2020-04-07 14:34] #864 closed

[2020-04-07 14:34] rlr commented on #861
@Mcmeman can you confirm that it's fixed now? We just deployed a fix. Thanks!

[2020-04-07 14:51] Fanolian commented on #864
Fixed. Thanks!

[2020-04-07 15:04] Mcmeman commented on #861
Yep it works now, if I may ask what is causing that specific issue?

On Tue, Apr 7, 2020 at 9:34 AM ricky rosario <notifications@github.com>
wrote:

[2020-04-07 15:05] rlr commented on #861
This latest issue was a bad database migration we ran on the database.

[2020-04-07 15:07] Mcmeman commented on #861
Thanks for letting me know.

On Tue, Apr 7, 2020 at 10:06 AM ricky rosario <notifications@github.com>
wrote:

[2020-04-07 15:19] jmanc commented on #861
Works for me, too.  Thank you!

On Tue, Apr 7, 2020 at 11:07 AM Mcmeman <notifications@github.com> wrote:

[2020-04-07 18:51] #839 closed

[2020-04-07 18:51] data-sync-user commented on #839
➤ John Gruen commented:

We are removing free tier...we don't have to do thi

[2020-04-08 13:34] bakulf opened #865 "Implement the messaging service in the extension"
The extension needs to contact the server-side component to retrieve messages.

- [x] It should happen any couple of hours
- [x] At startup time of the browser
- [x] When the authentication is completed
- [x] When a new pass is consumed

┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-45)
┆Issue Number: FPN-45
┆Priority: (none)

[2020-04-08 13:59] bakulf opened #867 "Implement the support for 429 status code"
This code can be received when too many clients are active at the same time.

┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-44)
┆Issue Number: FPN-44
┆Epic: Multiple Client Management for Subscription MVP
┆Components: Multiple Client Management
┆Priority: (none)

[2020-04-09 08:31] bakulf commented on #847
I don't understand what this bug is about. Can you file it again? Thanks.

[2020-04-09 08:31] #847 closed

[2020-04-09 19:18] johngruen opened #869 "Ship a new version with logos & Icons updated"
We have to update the app icons per a copyright claim on the current version.

[2020-04-10 16:40] cpeterso commented on #823
I also see this "Firefox Private Network needs your attention" warning momentarily every time I switch Wi-Fi networks at my home. I'm using FPN version 2.

[2020-04-11 17:13] bakulf opened #870 "Testing URL in HTTPS"
Currently, secure-proxy tests if the proxy works correctly fetching http://test.factor11.cloudflareclient.com/ through the proxy. In mozilla, we would like to deprecate HTTP non-secure connections, and I would like to know if we can have the same URL in HTTPS.

@aplunk do you think you can work on this? I just need a different URL. Thanks.

[2020-04-15 04:50] #865 closed

[2020-04-15 05:36] bakulf commented on #772
We are going to have a completely new UI. This bug can be closed.

[2020-04-15 05:36] #772 closed

[2020-04-15 05:37] bakulf opened #871 "implement ip-info check"
┆Issue is synchronized with this [Jira Story](https://jira.mozilla.com/browse/FPN-56)
┆Issue Number: FPN-56
┆Priority: (none)

[2020-04-15 05:41] bakulf commented on #867
For this, we need UI + strings.
@johngruen can you help here?

[2020-04-16 09:35] bakulf commented on #871
We need a proper UI here, but the underlying code has been implemented.

[2020-04-16 09:35] #871 closed

[2020-04-16 09:36] bakulf opened #873 "Show the IP address + geolocation data"
We already have the code to retrieve the geolocation data. We need to show it in the UI.

[2020-04-22 04:08] dholbert opened #874 "Secure proxy prevents Zoom Web Client from loading/working"
STR:
1. Install the FPN Secure Proxy extension
2. Try to connect to a zoom meeting using the Zoom Web Client, by visiting `https://mozilla.zoom.us/wc/join/` followed by your meeting ID

EXPECTED RESULTS:
Zoom should connect to the meeting (the first sign that things are working is it'll prompt you to choose your audio input).

ACTUAL RESULTS:
Zoom doesn't finish loading. The video area is black, a

[2020-04-22 23:10] motlaq0 commented on #874
Ok

[2020-04-27 09:20] bakulf commented on #874
I managed to reproduce the issue and record it. @mayhmer, do you mind taking a look?

[LOG.zip](https://github.com/mozilla/secure-proxy/files/4538630/LOG.zip)

[2020-04-27 09:40] bakulf commented on #874
@mayhemer ^

[2020-04-28 13:08] mayhemer commented on #874
@baku, I don't see any HTTP related problem in the log (no network error and no server error-code response).  Isn't this an existing problem with webrtc not working well with the proxy?  I though it was fixed by enabling tcp-only webrtc through an http(s) proxy.

@docfaraday do you know more about where to look?

Other option could be a problem with websockets, but those are known to WORK.  Can an

[2020-04-28 15:44] docfaraday commented on #874
When I tested this, it did not even get as far as creating a PeerConnection, so there must have been some other error earlier unless the behavior has changed since I last looked.

[2020-05-03 11:21] mayhemer commented on #874
I don't see any problem with websockets in the log from @baku sent on May 2, so those are ruled out.  If there is a problem with WebRTC then it's beyond my knowledge.

I don't see any http connection in the log hitting [this line](https://searchfox.org/mozilla-central/rev/b9a814e53b3b6f5cb665a78f4777868e7a16bfcd/netwerk/protocol/http/nsHttpConnection.cpp#1358) with onlyconnect=1.  There is also no

[2020-05-07 08:46] #867 closed

[2020-05-07 16:32] nils-ohlmeier commented on #874
Without looking into logs: we know that WebRTC through FPN only works if the WebRTC service provides a TURN TCP server, as we can only relay TCP through HTTP proxies.
And Zoom does not provide any TURN relays at all. So it is not going to work unless Zoom starts providing TURN TCP relays.

We could potentially make this a little easier for them by looking into relaying ICE TCP through HTTP Proxies

[2020-05-13 18:36] data-sync-user commented on #873
➤ Tony Cinotto commented:

[~amarchesini@mozilla.com] [~jgruen@mozilla.com] to discuss on May 14th

[2020-05-15 13:47] ValentinaPC opened #880 "The Secure Proxy icon has the wrong status after turning off/on the internet connection"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.171.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- have the Secure Proxy extension installed and active;

#### Steps to reproduce
1. Click on the SP icon from the toolbar and observe that the extension is active.
2. Turn off the internet connection;
3. Click the SP icon from the toolbar and manually

[2020-05-19 12:06] johngruen opened #883 "ui nits"
* onboarding title is bold and overall padding is too big on the cards
* image area in onboarding should be flex:1 to keep buttons aligned on bottom
* add metropolis.woff
* err message should be left aligned
* add a subscription support link for settings and update link strings
* Loading screen title is bold

[2020-05-22 15:15] bakulf commented on #883
Is this done?

[2020-05-26 11:23] ValentinaPC opened #888 "“Settings” link from Secure Proxy onboarding window does not work when the internet is off"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.172.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- have the Secure Proxy v22 (intermediate message version) extension installed and active;

#### Steps to reproduce
1. Click on the SP icon from the toolbar and observe that the extension is active.
2. Turn off the internet connection
3. Click on the S

[2020-05-29 10:50] ValentinaPC opened #889 "Previously disabled Secure Proxy does not trigger the survey at remove"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.172.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions:
 - have the Secure Proxy v.23 extension installed

#### Steps to reproduce
1. Go to about:addons and disable the SP extension.
2. From the same page, remove the extension after disabling it.

#### Expected result:
- A survey is triggered at extension

[2020-05-29 13:29] ValentinaPC opened #890 "Any testing account has unlimited access to Secure Proxy even if no subscription was made"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.172.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions:
 - have the Secure Proxy v.23 extension installed

#### Steps to reproduce
1. Sign up to SP using a test email (not Mozilla).
2. Finalize log in.
3. Click “Continue” in the onboarding panel to finalize SP activation.

 #### Expected result:
- A subscr

[2020-05-29 14:03] mixedpuppy commented on #889
A disabled extension being removed should never trigger anything.  If that is the expectation, it should be done when getting disabled.

[2020-06-04 13:26] ValentinaPC commented on #880
Verified as fixed in stage, using the latest version (v23-signed) of the Subscription Proxy extension on Fx76 and Windows 10 (64-bit).
Postfix video below.
![SP](https://user-images.githubusercontent.com/15685960/83762304-11084200-a680-11ea-9d0a-0677620e1266.gif)

[2020-06-04 13:26] #880 closed

[2020-06-12 14:59] bakulf opened #895 "Implement automated tests"
It's important to have a way to test the whole secure-proxy authentication flow.
Here an example from a similar project: https://github.com/mozilla/notes/tree/master/test/integration

[2020-06-16 07:47] ValentinaPC opened #896 "Wrong message when trying to activate the Subscription Proxy on non-US region"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.175.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- Have the latest Subscription Proxy (that points to FxA stage) installed;

### Steps to reproduce
1. Set your browser to a non-US region.(i.e using Windscribe)
2. Sign in to activate your Subscription Proxy.
3. Finalize sign in.
4. Turn on your SP.

#

[2020-06-16 07:57] ValentinaPC opened #897 ""Firefox Private Network needs your attention!” tooltip is not displayed at failed sign in"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.175.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- Have the latest Subscription Proxy (that points to FxA stage) installed;

### Steps to reproduce
1. Fail to authenticate to SP.
2. Observe the toolbar icon.

#### Expected result:
- A tooltip message informing the user that the SP needs his attention

[2020-06-16 08:02] ValentinaPC opened #898 "Subscription Proxy "Loading..." doorhanger has layout issues"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.175.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- Have the latest Subscription Proxy (that points to FxA stage) installed;

### Steps to reproduce
1. Click on the SP icon from the toolbar.
2. Observe the “Loading…” doorhanger.

#### Expected result:
- There are no display or layout issues.

#### Act

[2020-06-16 11:18] ValentinaPC opened #899 "Installed Subscription Proxy blocks the user from non-US regions on navigating to any site"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.175.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Preconditions
- Have the latest Subscription Proxy (that points to FxA stage) installed;
- use a Firefox profile with non-US region set (use Windscribe)

### Steps to reproduce
1. Sign in to SP.
2. Try to turn it on.
3. Navigate to addons.mozilla.com (or other site)

[2020-06-16 14:14] bakulf commented on #890
This should be fixed now. The staging env did not have the subscription check enabled.

[2020-06-16 14:14] #890 closed

[2020-06-16 14:15] bakulf commented on #889
This is the expected behavior. Thanks @mixedpuppy !

[2020-06-16 14:15] #889 closed

[2020-06-16 14:29] bakulf commented on #888
The fix is trivial but v22 is a temporary release. Let's see if we want to ship a new version for this fix.

[2020-06-17 11:04] johngruen commented on #898
oops!

[2020-06-18 06:16] ValentinaPC commented on #890
Verified as fixed in stage, using Fx79 and Windows 10 (64-bit).
While using a non Mozilla/SV account, user is asked for subscription.
Postfix screenshot below.
![image](https://user-images.githubusercontent.com/15685960/84984881-6181a400-b144-11ea-9ab6-1aafe8a86d2b.png)

[2020-06-18 06:43] ValentinaPC commented on #899
Note: reproducing only while using Mozilla/SV account.

[2020-06-18 06:46] ValentinaPC commented on #896
Note: reproducing only for Mozilla/SV accounts.

[2020-06-21 11:07] #898 closed

[2020-06-22 11:27] ValentinaPC commented on #898
Verified as fixed in stage, using SP v.23 (lates) on Fx77 and Windows 10 (64-bit).
Postfix screenshot below.

![image](https://user-images.githubusercontent.com/15685960/85282427-602ddf80-b494-11ea-9ffd-4c0b78ea9ddb.png)

[2020-06-22 12:19] ValentinaPC commented on #897
Verified this in stage, using SP v23 (latest) on Fx77 and Windows 10 (64-bit) and obtained the folowing results:
- SP off => tooltip displayed under the SP icon from the toolbar, yellow background with black letters.
![tooltip1](https://user-images.githubusercontent.com/15685960/85286627-a3d81780-b49b-11ea-9254-b34211a725b7.png)

- SP on => tooltip displayed under the Firefox "hamburger" icon, gre

[2020-06-22 13:09] #897 closed

[2020-06-23 00:40] richrumble opened #903 "Disable FPN/SP for Corporate/Enterprise"
Kill Switch (DNS?) or Setting to allow Enterprise/Corporate to forbid the use of the FPN within their networks. Changing the local hosts file to sinkhole the firefox.factor11.cloudflareclient.com will prevent connections, but that also breaks DoH via CloudFlare. The two do not have to be mutually exclusive, but this appears to be the only prevention mechanism against the FPN for corporations curre

[2020-06-23 10:13] ValentinaPC opened #904 "“Settings” menu accessed from Subscription Proxy “Loading...” screen cannot be exit"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.176.0;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Prerequisites:
- Have the latest version of the SP installed;
- Use a mailinator account;
(The simplest way to reproduce this is to use the SP Management extension and trigger the “Loading…” door-hanger)

#### Steps to reproduce
1. Load  the profile from prerequisit

[2020-06-23 11:05] ValentinaPC commented on #897
Verified as fixed using SP v23 (latest) on Fx77 and Windows 10 (64-bit).
The success tooltip is displayed under the SP icon.

[2020-06-23 11:48] bakulf commented on #904
#905

[2020-06-23 11:48] #904 closed

[2020-06-25 13:40] #888 closed

[2020-06-25 13:49] ValentinaPC commented on #904
Verified as fixed using the latest version of the Subscription Proxy, on Firefox Nightly and Windows 10 (64-bit).
Postfix screenshot below.
![image](https://user-images.githubusercontent.com/15685960/85731830-84432800-b703-11ea-834a-38efad48f59c.png)

[2020-06-30 23:35] mrkannan3 opened #907 "Unable to log into Firefox private network"
[log.txt-main.18544.log](https://github.com/mozilla/secure-proxy/files/4854851/log.txt-main.18544.log)

log file is attached.

[2020-07-02 14:04] johngruen commented on #907
Hi @mrkannan3 we believe this was an issue with teh firefox accounts system that provides authentication for the proxy and that this issue is now resolved. Are you able to log in now?

[2020-07-02 14:07] #226 closed

[2020-07-02 15:34] mrkannan3 commented on #907
Yes. It works now. Thanks

[2020-07-02 15:34] #907 closed

[2020-07-15 14:11] ValentinaPC opened #914 "“Device-limit” message is not triggered for Subscription Proxy"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.179.3;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Prerequisites:
- Have a mailinator testing account with an active subscription for Secure Proxy extension;
- have a VPN set to point to a US region;

 #### Steps to reproduce:
1. Open a new profile and install the latest version of SP;
2. Install the SP management e

[2020-07-16 06:18] bakulf commented on #895
#913

[2020-07-16 06:18] #895 closed

[2020-07-16 11:51] ValentinaPC opened #915 "Firefox Private Network Beta browser extension is mentioned in the in installation survey, after installing the new Subscription Proxy"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.179.4;

#### Affected Platforms:
- Windows 10 (64-bit);

#### Prerequisites:
- Have a mailinator testing account with an active subscription for Secure Proxy extension;
- have a VPN set to point to a US region;

 #### Steps to reproduce:
1. Open a new profile and install and activate the latest version of SP;
2. Observe the co

[2020-07-17 09:42] bakulf commented on #914
This should be fixed in my latest commit on the server. and it has been tested today by @ValentinaPC

[2020-07-17 09:42] #914 closed

[2020-07-17 10:06] ValentinaPC commented on #914
Verified as fixed in stage, using Fx78.0.2 and Windows 10 (64-bit).
Postfix screenshot below.
![image](https://user-images.githubusercontent.com/15685960/87775128-3fa43b80-c82e-11ea-940a-6d5c023cc313.png)

[2020-07-17 21:46] cpeterso commented on #760
@mayhemer - I can still reproduce this problem with FPN extension v22. FPN is unusable for me.

You said above that the management-src extension's logs should appear in about:debugging, but I don't see any references to logs there.

[2020-07-20 05:45] ValentinaPC commented on #760
Please take a look over: https://github.com/mozilla-extensions/secure-proxy/issues/899 . Thanks!

[2020-07-20 18:18] cpeterso commented on #760
I think my problem is different. I'm in the US and Secure Proxy works fine until I sleep my laptop.

[2020-07-21 05:47] ValentinaPC commented on #760
I think is has the same root cause. I am able to reproduce "my" issue in US also, as you can see in the video. I may be wrong.

[2020-07-24 07:44] #869 closed

[2020-07-24 07:44] #883 closed

[2020-07-24 07:45] bakulf commented on #855
This is not needed anymore. v23 doesn't have the token countdown.

[2020-07-24 07:45] #855 closed

[2020-07-24 07:46] bakulf commented on #783
v23 doesn't have passes. Let's close this bug.

[2020-07-24 07:46] #783 closed

[2020-07-24 07:46] bakulf commented on #776
v23 doesn't have passes. Let's close this bug.

[2020-07-24 07:46] #776 closed

[2020-07-24 07:47] bakulf commented on #37
This bug can be closed. We have integrated tests.

[2020-07-24 07:47] #37 closed

[2020-07-24 07:50] bakulf commented on #346
The new UI should fix this issue.

[2020-07-24 07:50] #346 closed

[2020-07-24 07:51] bakulf commented on #361
v23 has a completely new UI. Closing this bug.

[2020-07-24 07:51] #361 closed

[2020-07-24 07:51] bakulf commented on #500
This can be closed. No new reports about this crash.

[2020-07-24 07:51] #500 closed

[2020-07-24 07:51] #604 closed

[2020-07-24 07:56] bakulf commented on #637
#921

[2020-07-24 07:56] #637 closed

[2020-07-27 13:05] ValentinaPC opened #925 "Subscription Proxy download page has incorrect tab title"
#### Affected versions:
- All Firefox;

#### Affected FxA versions:
- 1.181.0

#### Affected Platforms:
- Windows 10 (64-bit);

#### Prerequisites:
- Have an active FxA account;

 #### Steps to reproduce:
1. Load https://stage.guardian.nonprod.cloudops.mozgcp.net/ page;
2. Click on the “Subscribe for $2.99/Month” button;
3. Finalize subscription and click on the “Continue to download” button;
4. O

[2020-07-27 14:37] rlr commented on #925
Pull request: https://github.com/mozilla-services/guardian-website/pull/905

[2020-07-28 07:29] ValentinaPC commented on #925
Verified as fixed in stage, using Fx78.0.2 and Windows 10 (64-bit).
Postfix screenshot below.
![image](https://user-images.githubusercontent.com/15685960/88633093-37b18a80-d0bd-11ea-9c24-e0ed3cfe0fdb.png)

[2020-07-28 07:29] #925 closed

[2020-07-29 06:11] cpeterso opened #927 "Can't load voterstatus.sos.ca.gov website with FPN/SP"
# Steps to reproduce
1. Enable FPN/SP extension.
2. Try to load https://voterstatus.sos.ca.gov/ (the State of California's voter registration website).

# Expected result:
The page should load successfully.

# Actual result:
The page fails to load. Firefox reports an error: "Unable to connect. Firefox can’t establish a connection to the server at voterstatus.sos.ca.gov." I'm running Firefox 81 Nig

[2020-08-05 08:18] bakulf commented on #927
I'm not able to reproduce it. I suspect it's a kind of IP-based block. Do you mind to send the network log?
https://developer.mozilla.org/en-US/docs/Mozilla/Debugging/HTTP_logging

[2020-08-05 08:27] bakulf commented on #915
We have disabled this survey in v23. Let's close this bug.

[2020-08-05 08:27] #915 closed

[2020-08-05 08:37] #817 closed

[2020-08-05 08:47] bakulf commented on #47
We use github actions for CI.

[2020-08-05 08:47] #47 closed

[2020-08-06 02:29] cpeterso commented on #927
I emailed my HTTP log to @bakulf.

[2020-08-06 09:48] bakulf commented on #927
In the log I see this:

[code]

It seems a cloudflare issue. I asked @mayhemer to take a look too.

[2020-08-23 20:24] hjasond opened #935 "Bypass FPN Feature Enahancement"
All,

While FPN is great for general web usage, most users need access resources that cannot be reached via FPN.

Can you please implement the option to the secure-proxy/FPN extension to automatically disable FPN for specific sites? Ideally this feature would also support, wildcards, regex, and CIDR notation.

Thank you,
Jason

[2020-08-23 20:33] ekr commented on #935
While I believe that many users need those resources, I am skeptical that "most" do.The usual scenarios are for intranet and home router type settings, but I doubt this is most users.

I do see how this feature is useful, but it's not clear to me that it can be implemented safely.  Consider the (somewhat contrived) case where your intranet is the attacker in cooperation with example.com. Your intr

[2020-08-24 03:17] hjasond commented on #935
Good point, I should have stated most enterprise users.

I agree with your example. It does present an additional risk if an attacker has the ability to add content to a domain or subdomain the user has set to bypass the proxy.

In my opinion, for users who need to access intranet resources in addition to public internet resources, the risk is higher with the current all or nothing approach. Becau

[2020-08-27 20:16] cpeterso commented on #927
Closing issue because https://voterstatus.sos.ca.gov/ loads correctly for me now with FPN. I'm using Firefox 82 Nightly and FPN version 23.

[2020-08-27 20:16] #927 closed

[2020-10-03 12:39] ekr opened #936 "FPN keeps getting signed out"
I had one of the early employee subscriptions but I converted to a paid subscription.

I just restarted Fx and see the orange/yellow badge and "FPN needs your attention"

I click on the badge and it tells me to sign in.

I sign in and it asks for an authorization code.

That window goes away but the badge is still orange.

Now when I click on it I get "cover your steps..."

I have to click through

[2020-10-05 14:23] chrismore commented on #936
@bakulf @rlr thoughts here?

[2020-10-08 08:27] bakulf commented on #936
I'm not able to reproduce this logout. I tried different configurations but so far, nothing. I suspect is related to https://github.com/mozilla/fxa/issues/6641

[2020-10-13 19:11] hjasond opened #937 "Firefox Private Network Extension Reports Offline, IP shows Cloudflare Warp"
Steps to replicate:

1. Install FPN extension
2. Authenticate FPN extension with Firefox account
3. Click through on-boarding screens
4. Click slider to enable FPN
5. Extension UI refreshes and says offline

Behavior:

FPN extension said "offline" and displays "Firefox Private Network Needs Your Attention!" each time Firefox is launched. However, in this state, all traffic is routed through FPN wi

[2020-10-13 19:18] hjasond commented on #937
![CleanShot 2020-10-13 at 14 14 38](https://user-images.githubusercontent.com/70112668/95905657-c352c300-0d5e-11eb-9c70-1a6ec051ead1.gif)

GIF walking through the issue showing I am connected to a Cloudflare Warp IP utilizing the FPN without any way to disconnect from the FPN using the extension.

[2020-11-11 16:59] clouserw opened #938 "Can't change debugging server to stage for the firefox private network extension"
Moved from https://github.com/mozilla/fxa/issues/6858 ; Filed by @madalincm

[2020-11-13 18:18] cpeterso commented on #760
I can still reproduce this problem with FPN extension v23. When I restart Firefox with FPN enabled, session restore often fails to reload my pinned tabs or the focused tab in each of my browser windows.

[2020-11-16 17:54] arthur-mozilla commented on #870
HTTPS-Only Mode is shipping in Firefox on November 17. We need to change to a secure test address so that it is compatible.

[2020-11-16 19:19] chrismore commented on #870
I am working on getting a HTTPS:// URL

[2020-11-18 18:00] bakulf commented on #938
Yesterday I provided a new extension to fix this issue. We can close this bug.

[2020-11-18 18:00] #938 closed

[2020-11-19 07:56] madalincm commented on #938
We confirm that the new extension works for us! Thanks @bakulf for all the help!

[2020-12-03 19:28] bakulf commented on #937
Do you use https-only mode? If yes, this is normal. We are about to push a new release that fixes this bug.

[2020-12-03 19:44] hjasond commented on #937
Yes, I do use https-only mode! That explains it, thank you for the information.

[2020-12-08 17:37] jr-johnson-support commented on #870
Any Update Here?

[2020-12-10 00:24] cpeterso commented on #760
I can still reproduce the "foreground tab and pinned tabs fail to load during session restore" variant of this bug with FPN extension v24 and Firefox Nightly 85.

When restarting Nightly, the foreground tab and pinned tabs in every browser window frequently fail to load during session restore. Manually clicking the reload button will successfully load the page. This seems like a startup race condi

[2021-11-09 14:19] ftobin opened #950 "FPN can't connect: test.factor11.cloudflareclient.com has no DNS resolution"
The host used for CONNECTING_HTTP_REQUEST, test.factor11.cloudflareclient.com, does not have any DNS resolution for A records, preventing the addon from thinking it's connected.  This seems to have started a few days ago.

FPN version 24.

[code]

[2021-11-09 14:27] ftobin commented on #950
Just to clarify, FPN keeps saying "You are offline. Check your network connection and try again." when I try to turn it on, and I can tell it's trying to resolve `test.factor11.cloudflareclient.com`.

[2021-11-12 01:23] willc commented on #937
I am not using HTTPS-only mode, and it is still not working for me. Firefox 94.0.1 on Mac 12.0.1

[2021-11-12 22:51] aminomancer commented on #937
Do you use a desktop VPN app or something else that enables a proxy at the system level? I've had a problem with this extension where, if I connect to a VPN or proxy at the system level (for example a desktop program like Nord VPN's) and then connect to FPN with the extension, then disconnect from the system VPN/proxy while FPN is still connected, FPN gets stuck in this state permanently, even aft

[2021-11-17 14:25] aplunk commented on #950
@bakulf the secure extension should only resolve test.factor11.cloudflareclient.com inside of the tunnel.

[2021-11-18 04:44] ftobin commented on #950
Hrm, you're right about the resolution -- I can verify that the host resolves inside the tunnel successfully.  Something else is messing with FPN..it reports not connected but is connected.  Apparently there are some firewall issues going on recently and will be fixed in the next release: https://www.reddit.com/r/firefox/comments/qfut2p/comment/hknxru9/?utm_source=share&utm_medium=web2x&context=3

[2021-11-18 04:44] #950 closed

[2022-03-24 16:25] gus8923 opened #974 "[Android] VPN shows as connected even after turning Airplane mode."
The VPN shows as connected even when airplane mode is activated. The internet connection gets blocked but the VPN keeps showing as connected. Is this expected?

[2022-05-04 20:36] gus8923 opened #976 "[Ubuntu] VPN won't open/launch"
**Description**
VPN won't launch. Clicking on the VPN icon (GUI) or using the command line won't start the VPN.

**Technical Information**
Platform: Ubuntu 18.04
FX product: Mozilla VPN 2.8.0

**Steps to Reproduce**
1. Turn on the computer
2. Click on the VPN icon to open the app or use command line to start it, both fail.

**Actual Results**
The VPN doesn't launch/open. When using command line th

[2022-05-04 21:23] #976 closed

[2022-10-16 15:54] cadeyrn opened #979 "Future of the Firefox Private Network"
Hi,

I wanted to write an article about Mozilla's current Premium services and how to support Mozilla using their subscription offers. In this context I wondered what the state of the Firefox Private Network is and whether it has a future at all. It has the "Beta" label since more than three years, the last commit in this repository was in March 2021 and the Mozilla VPN is more and more a thing. S